<!doctype html>
<html>


<head>
	<link rel="stylesheet" type="text/css" href="../views/style.css">
	<title>SAM</title>
</head>


<body>
	<h1 id="text">Welcome to SAM</h1>
	<h3>Your personal evasion messenger</h3>

	<!--The methods "GET" and "POST" have to be in all caps! -->
    <form method="POST" action="/results">
    	<h4>Phone Number</h4>
      <input type="text" name="users_name">
    </form>
   
     <form method="POST" action="/results_cap">
     	<h4>Name</h4>
      <input type="text" name="caping_text">
    </form>
    <br>
    <br>
    <h4>Are you a male or a female?</h4>
    <form action="demo_form.asp">
    <input type="radio" name="radio_click" value="male"> Male<br>
    <input type="radio" name="radio_click" value="female"> Female<br>
    <input type="radio" name="radio_click" value="female"> <br>
   <br>
    <input type="submit" value="Submit">
</form>
</body>


</html>