<!doctype html>
<html>
  
  
  <head>
    
  </head>
  
  
  
  <body>
    <h1>Gender (RESULTS PAGE)</h1>
<!--     Calls the variable fro the app. controller -->
    <h2><%=@output_radio %></h2>
  </body>
  
  
</html>